{% for acesso in acessos %}
{% if acesso.data_saida %}
<tr class=" danger">
    <td class="text-center">{{ acesso.data_entrada|date:"d/m/Y" }} {{ acesso.data_entrada|time:"H:i:s" }}</td>
    <td class="text-center">{{ acesso.setor }}</td>
    <td class="text-center">{{ acesso.data_saida|date:"d/m/Y" }} {{ acesso.data_saida|time:"H:i:s" }}</td>
    <td class="text-center">
        <small class="label bg-blue">Saiu</small>
    </td>
    <td class="text-center">
        <a>Editar</a>
        <a>Excluir</a>
    </td>
</tr>
{% else %}
<tr class="info">
    <td class="text-center">{{ acesso.data_entrada|date:"d/m/Y" }} {{ acesso.data_entrada|time:"H:i:s" }}</td>
    <td class="text-center">{{ acesso.setor }}</td>
    <td class="text-center">
        <small class="label bg-red">Ainda não saiu!</small>
    </td>
    <td class="text-center">
        <form action="{% url 'acesso_registrar_saida' acesso.id %}" method="post">
            {% csrf_token %}
            <button class="btn btn-primary btn-xs" type="submit">Registrar saída!</button>
        </form>
    </td>
    <td class="text-center">
        <a href="{% url 'acesso_atualizar' acesso.id %}">Editar</a>
        <a href="{% url 'acesso_excluir' acesso.id  %}">Excluir</a>
    </td>
</tr>
{% endif %}
{% endfor %}
