{% extends 'layout/layout.html' %}

{% block localizacao %}
<h1 class="text-light-blue">Dashboard</h1>
<ol class="breadcrumb">
    <li><a href="#" class="active"><i class="fa fa-dashboard"></i>Dashboard</a></li>
</ol>
{% endblock %}

{% block conteudo %}

<div class="row">

    <div class="col-md-6">
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>{{ qtd_homens }}</h3>

                <p>Visitantes Homens cadastrados</p>
            </div>
            <div class="icon">
                <i class="fa fa-male"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="small-box bg-maroon disabled">
            <div class="inner">
                <h3>{{ qtd_mulheres }}</h3>

                <p>Visitantes Mulheres cadastradas</p>
            </div>
            <div class="icon">
                <i class="fa fa-female"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>


{% endblock %}