{% extends 'layout/layout.html' %}
{% load bootstrap %}

{% block localizacao %}
<h1 class="text-light-blue">Setor</h1>
<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i>Setor</a></li>
    <li class="active">Formulário</li>
</ol>
{% endblock %}

{% block conteudo %}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Formulário</h3>
    </div>
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="box-body">
            {% csrf_token %}
            <div class="row">
                <div class="col col-md-12">
                    {{ form.nome|bootstrap }}
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6">
                    {{ form.sigla|bootstrap }}
                </div>
                <div class="col col-md-6">
                    {{ form.telefone|bootstrap }}
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp&nbspSalvar</button>
            <a class="btn btn-primary" href="{% url 'setor_listar' %}"><i class="fa fa-mail-reply-all"></i>&nbsp&nbspVoltar</a>
        </div>
    </form>
</div>

{% include 'setor/setor_lista_incompleta.html' %}
{% endblock %}

{% block jquery %}
    $('#id_telefone').mask('0000-0000');
    $("#id_telefone").attr("placeholder", "0000-0000");
{% endblock %}