 <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0
    </div>
    <strong>Copyright &copy; 2019 Sistema de controle de acessos.</strong> Todos os direitos reservados
  </footer>