{% load static %}
<header class="main-header">
    <!-- Logo -->
    <a href="{% url 'visitante_listar' %}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>Po</b>rt</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>P</b>ortaria</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="hidden-xs">{{ user.username }}</span>
            </a>
          </li>
          <li>
            <a href="{% url 'logout' %}">Sair</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
