<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li>
                <a href="{% url 'dashboard' %}">
                    <i class="fa fa-home text-aqua"></i> <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{% url 'visitante_listar'  %}">
                    <i class="fa fa-user text-aqua"></i> <span>Visitantes</span>
                </a>
            </li>
             <li>
                <a href="{% url 'setor_listar'  %}">
                    <i class="fa fa-institution text-aqua"></i> <span>Setores</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>