{% extends 'layout/layout.html' %}
{% load bootstrap %}

{% block localizacao %}
<h1 class="text-light-blue">Visitante</h1>
<ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i>Visitante</a></li>
    <li class="active">Formulário</li>
</ol>
{% endblock %}

{% block conteudo %}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Formulário</h3>
    </div>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">{{ form.imagem|bootstrap }}</div>
            </div>
            <div class="row">
                <div class="col-md-8">{{ form.nome|bootstrap}}</div>
                <div class="col-md-4">{{ form.data_nascimento|bootstrap}}</div>
            </div>
            <div class="row">
                <div class="col-md-3">{{ form.cpf|bootstrap}}</div>
                <div class="col-md-3">{{ form.rg|bootstrap }}</div>
                <div class="col-md-3">{{ form.telefone|bootstrap }}</div>
                <div class="col-md-3">{{ form.sexo|bootstrap }}</div>
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp&nbspSalvar</button>
            <a class="btn btn-primary" href="{% url 'visitante_listar' %}"><i class="fa fa-mail-reply-all"></i>&nbsp&nbspVoltar</a>
        </div>
    </form>
</div>
<br><br>
{% include 'visitante/visitante_lista_incompleta.html' %}
{% endblock %}

{% block jquery %}
    $('#id_cpf').mask('000.000.000-00');id_data_nascimento
    $("#id_cpf").attr("placeholder", "000.000.000-00");

    $('#id_data_nascimento').mask('00/00/0000');
    $("#id_data_nascimento").attr("placeholder", "00/00/0000");

    $('#id_telefone').mask('(00) 0-0000-0000');
    $("#id_telefone").attr("placeholder", "(00) 0-0000-0000");
{% endblock %}